<html>

  <head>

    <title>{{.Head.Title}} - SupremeGarbanzo</title>

    {{range .Head.CSS}}

    <link rel="stylesheet" href="{{.}}">

    {{end}}

  </head>

  <body>

    <div class="flex-center position-ref full-height" id="top">

      <div class="content">

        <div class="links">
          {{range .Body.Menu}}
            <a href="{{.URL}}">{{.Menu}}</a>
          {{end}}
        </div>

        <div class="title m-b-md">
          <span id="display">
            Release Notes
            <!-- {{.Body.Header.PageTitle}} -->
          </span>
          <span id="hide">
            Documentation
          </span>
        </div>

        <div class="links">
            <a href="">&copy; {{.Body.Footer.Footer}}</a>
        </div>
        <div class="links">
            <a href="#notes"><strong>View Release Notes & Documentation</strong></a>
        </div>

      </div>

    </div>

    <div class="not-flex position-ref full-height" id="notes" style="display: flex; justify-content: center;">

      <div class="content">

        <div class="links">
            <a href="#top">Back To About</a>
        </div>

        <h1>Release Notes & Documentation</h1>
        <ul class="rnotes" style="text-align: justify;">

          <li>SupremeGarbanzo Project Started On Late October</li>
          <li>It's Iconic Landing Page Was Created Shortly Thereafter</li>
          <li>Debit, Credit, And Help Menu Was Added But Still Without It's Functionality</li>
          <li>The Project Faces Lots Of Internal Problem Handling Mass Amount Of Data</li>
          <li>It Was Advised That The Project Could Benefit From Simple TXT Database</li>
          <li>Our Engineers Start Working On The Project's Own Database System</li>
          <li>User Is Now Redirected To Sign In/Sign Up Page Instead Of Landing Page</li>
          <li>The Barely Working Database System Tested On The Newly Made Page</li>
          <li>Our Team Faces Lots Of Pressure And Internal Struggle Due To Technical Issues</li>
          <li>New Functionality, Users Now Must Be Signed In First Before Accessing</li>
          <li>Our Database Is Now Growing In Complexity</li>
          <li>Our Engineers Keep Maintaining Their Good Progress</li>
          <li>For It's Easier Access, Most Of The Project's Pages Were Redesigned</li>
          <li>Debit, And Credit Menu Now Moved To Dashboard Page</li>
          <li>Users Must Now Listed On Database Before Making Entry</li>
          <li>Added Security Measure, Anyone Who Is Breaking In Will Automaticaly Redirected</li>
          <li>The Project's Pages Is Now Can Only Be Accessed With Authorized User</li>
          <li>We've Added New Functionality To Store Transaction In Detailed Manner</li>
          <li>Everyone Will Be Given A Sum Of 1000000 After Their Successfull Registration</li>
          <li>Users Can Now, View Their Transaction History In A Dedicated Page</li>
          <li>A Minor UI/UX Improvement Was Added By Our Hard-Working Team</li>
          <li>Mobile Version Is Now Supported, Though Not Fully Recommended</li>
          <li>From Now On, The About Page Will Replace The Help Page</li>
          <li>A Dedicated Page Was Made For Release Notes/Features List</li>
          <li>We'll Now Using A TXT Database Sytem To Support Our Main System</li>
          <li>Our System Is Now Fully Functioning To Handle All Sign In Operation</li>
          <li>All User Related Transaction Can Now Be Stored In Our Database</li>
          <li>New Functionality, User Can Now Quickly Set Up Their Account Via Our System</li>
          <li>We Reject All Kind Of Multi-Account 1000000 Exploit Instantenously</li>
          <li>Second Wave Of Internal Chaos And Turmoil</li>
          <li>Our TXT Database Can Now Handle Simultaneous Operations At Once</li>
          <li>Both Dashboard And About Page Were Redesigned For Easyviewing</li>
          <li>Closing Account Via System Is Now Supported, Losing All The Balance In Process</li>
          <li>We Have Added An Error Warning System, To Help User When Encountering Problem</li>
          <li>Improved TXT Database Dataflow</li>
          <li>A Fake Client User Created For Testing Purpose At Zero Index</li>
          <li>Our System Now Support In Situ Transaction Of Both Debit And Credit</li>
          <li>Debit Must Have A Designated Referal Code To Add Balance Into Your Account</li>
          <li>While Transfering Money, You Would Need A Target User's Username</li>
          <li>Otherwise The System Would Take It As An External Account</li>
          <li>Beware That Non-Existent Account Would Result In Lost Of Balance</li>
          <li>Users Who Close Their Account Will Leave A Gap In Database</li>
          <li>In Which The Gap Will Be Filled Again Once A New User Registered</li>
          <li>Our System Is Now Beyond Worldly Complexity, God Save Our Developers</li>
          <li>One-Click Transaction Was Implemented</li>
          <li>Users Will No Longer Need To Choose Between Debit And Credit Transaction</li>
          <li>The System Will Intelegently Checks Whether It's Referal Or An User Account</li>
          <li>We're Also Still Working On Data Sorting For User With Lots Of Transaction</li>
          <li>Users Who'd Like To Change Their Account Data Will Have To Wait</li>
          <li>As We're Still Limited On Manpower Resources</li>
          <li>Our Warning System, Will Now Be Able To Detect More Diversed System Failures</li>
          <li>Upgraded Server Error Log, To Handle More Complex Data</li>
          <li>The Development Of Account Updater Is Finished And Implemented Successfully</li>
          <li>The Great SupremeGarbanzo Depression Has Finally Arrived</li>
          <li>Due To Unexpected Client Side Constraints,</li>
          <li>As Our Data Dynamically Shrink And Grow, Static Database Is Not Desirable</li>
          <li>Added Data Sorting, Thanks For Your Patience!</li>
          <li>Searching For Different Kind Of Data Now Made Easier</li>
          <li>First Appearance Of Docker Images Published On Docker Hub</li>
          <li>Regular Updates Published In Docker Hub</li>
          <li>Added Github Workflow</li>
          <li>Implemented Continous Integration in CircleCI</li>
          <li>Fixed Some Pipeline Error For Better Integration</li>
          <li>Did Some Rebranding</li>
          <li>Auto Deployment To Docker Hub</li>
          <li>Added Integration Test Before Deployment</li>
          <li>Support Travis-CI + Docker Hub Integration</li>
          <li>In Case Devs Run Out Of Credit</li>
          <li>
            Find us on
            <a href="https://github.com/Dithmarschen/supreme-garbanzo" target="_blank">Github</a>
          </li>
          <li>End Of The Line</li>
          <li></li>
          <li></li>
          <li><strong>Thanks.</strong></li>
          <li><strong>Sincerely,</strong></li>
          <li></li>
          <li><strong>Dev</strong></li>

        </ul>

        <div class="links">
            <a href="#notes">Back To Top</a>
        </div>

      </div>

    </div>

  </body>

</html>
